*{
  font-family: 'Itim', cursive;
}
.image {
  width: 95%;
}

.text-area{
  resize: none;

}
.brand:hover{
 text-decoration: none;
}
body{
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}
.card{
    box-shadow: 2px 2px 4px black;
}
